<div class="bg_style">
    <div class="max_width">
        <div class="about_me_section">
            <div data-aos="fade-right" data-aos-delay="200" data-aos-duration="750" data-aos-easing="ease-in-sine"
                id="about-me" class="about_me_text_container">
                <div class="h1_container">
                    About me
                </div>
                <div class="text_container">
                    I am a Frontend Developer based in Wülfrath, Germany, passionate about transforming designers' and
                    companies' ideas into reality. I am eager to advance my career with a position as a Junior Web
                    Developer.
                </div>
                <div class="text_container">If you believe I would be a suitable fit for your projects, contact me!
                </div>
                <div class="button_container">
                    <a href="#contact">
                        <button>
                            Let's talk
                        </button>
                    </a>
                </div>
            </div>
            <div data-aos="fade-left" data-aos-delay="200" data-aos-duration="750" data-aos-easing="ease-in-out"
                class="about_me_image">
                <img src="./assets/img/myself.jpg" alt="a picture about my appearance">
                <div class="border"></div>
            </div>
        </div>
        <div class="arrow_container">
            <a href="#my-skills">
                <div class="arrow_images">
                    @if (firstHover) {
                    <img class="arrow_short_start" src="./assets/img/arrow_short.png" alt="arrow looking down"
                        (mouseenter)="onHover()">
                    }
                    <img class="arrow_long" src="./assets/img/arrow_long.png" alt="arrow looking down"
                        [ngClass]="{'animated': !firstHover}">
                    <img class="arrow_short_end" src="./assets/img/arrow_short.png" alt="arrow looking down"
                        [ngClass]="{'animated': !firstHover}">
                </div>
            </a>
        </div>
    </div>
</div>