<div class="bg_style">
    <img src="./assets/img/contact_bottom.png" alt="a black background image with a diagonal line on the top">
    <div class="max_width">
        <div class="contact_content">
            <span>Get in touch!</span>
            <div class="form_content">
                <span>Ready to start a new project?</span>
                <span>Let's discuss it and create something great.</span>
                <form>
                    <label for="name">Your name</label>
                    <div class="border">
                        <input placeholder="Your name" type="text" name="name" id="name">
                    </div>
                    <label for="email">Your email</label>
                    <div class="border">
                        <input placeholder="Your email" type="email" name="email" id="email">
                    </div>
                    <label for="message">Your message</label>
                    <div class="border_textarea">
                        <textarea placeholder="Your message" name="message" id="message" cols="30" rows="10"></textarea>
                    </div>
                    <button type="submit">Send message</button>
                </form>
            </div>
        </div>
    </div>
</div>