@import '../../../styles.scss';


.bg_style {
    @include position($pos: relative, $top: auto, $left: auto, $bottom: 0px, $right: auto);
    width: 100%;
    min-height: 1150px;
    max-height: 700px;
    z-index: 1;

    img {
        @include position($pos: absolute, $top: auto, $left: auto, $bottom: 0px, $right: auto);
        @include size($w: 100%, $h: 100%);
        z-index: 1;
    }
}

.max_width {
    position: relative;
    max-width: 1600px;
    height: 100%;
    margin: 0 auto;
    z-index: 2;
}

.contact_content {
    display: flex;
    flex-direction: column;

    >span {
        @include position($pos: relative, $top: 0px, $left: 0, $bottom: auto, $right: auto);
        @include fontStyle($ff: 'Syne', $fs: 98px, $fw: 800, $lh: 98px, $c: #FFFCF3);
        margin-top: 200px;
        margin-bottom: 80px;
        transition: all 125ms ease;
        z-index: 1;
        cursor: default;

        &:hover {
            color: #FF9900;
        }
    }
}

.form_content {
    @include dFlex($jc: center, $ai: center);
    flex-direction: column;
    gap: 22px;
    cursor: default;

    >span:nth-child(1) {
        @include fontStyle($ff: 'Overpass', $fs: 40px, $fw: 700, $lh: 46.4px, $c: #FF9900);
    }

    >span:nth-child(2) {
        @include fontStyle($ff: 'Overpass', $fs: 28px, $fw: 400, $lh: 32.2px, $c: #FFFCF3);
    }
}

form {
    @include dFlex($jc: center, $ai: center);
    @include size($w: 760px, $h: 100%);
    flex-direction: column;
    gap: 20px;
    cursor: default;

    .input_container {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;

        label {
            @include fontStyle($ff: 'Overpass', $fs: 20px, $fw: 400, $lh: 20px, $c: #FFFCF3);
            @include position($pos: absolute, $top: 21px, $left: 25px, $bottom: auto, $right: auto);
            transition: .2s;
            padding: 0 2px;
            pointer-events: none;

            &.label {
                top: -10px;
                color: #FF9900;
                background-color: #000000;
                transition: .2s;
            }
        }

        input {
            @include fontStyle($ff: 'Overpass', $fs: 20px, $fw: 400, $lh: 24.2px, $c: #FFFCF3);
            @include size($w: 100%, $h: 60px);
            border: none;
            background: rgb(0, 0, 0);
            padding: 15px 25px;
            border-bottom: 2px solid white;
            transition: all 125ms ease;

            &:hover {
                border: 4px solid #FFFCF3;
            }

            &:focus {
                outline: 2px solid #FFFCF3;
                border: unset;
                border-bottom: unset;
                transition: all 125ms ease;

                &+label {
                    top: -10px;
                    color: #FF9900;
                    transition: all 125ms ease;
                    background-color: #000000;
                }
            }
        }
    }

    .textarea_container {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;

        label {
            @include fontStyle($ff: 'Overpass', $fs: 20px, $fw: 400, $lh: 20px, $c: #FFFCF3);
            @include position($pos: absolute, $top: 21px, $left: 25px, $bottom: auto, $right: auto);
            transition: .2s;
            padding: 0 2px;
            pointer-events: none;

            &.label {
                top: -10px;
                color: #FF9900;
                background-color: #000000;
                transition: .2s;
            }
        }

        textarea {
            @include fontStyle($ff: 'Overpass', $fs: 20px, $fw: 400, $lh: 24.2px, $c: #FFFCF3);
            width: 100%;
            min-height: 250px;
            max-height: 250px;
            min-width: 760px;
            max-width: 760px;
            background: none;
            border: unset;
            border-bottom: 2px solid white;
            padding: 15px 25px;
            transition: all 125ms ease;
            resize: none;

            &:hover {
                border: 4px solid #FFFCF3;
            }

            &:focus {
                outline: 2px solid #FFFCF3;
                border: unset;
                border-bottom: unset;
                transition: all 125ms ease;

                &+label {
                    top: -10px;
                    color: #FF9900;
                    transition: all 125ms ease;
                    background-color: #000000;
                }
            }
        }
    }
}

.label {
    transition: all 125ms ease;

    &+label {
        top: -10px;
        color: #FF9900;
        transition: all 125ms ease;
        background-color: #000000;
        outline: none;
    }
}

.privacy_policy_container {
    display: flex;
    flex-direction: column;
    @include size($w: 100%, $h: 60px);

    .privacy_policy_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
    }

    .checkbox {
        cursor: pointer;
        min-width: 18px;
        margin-bottom: 5px;
        height: 21px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transition: all 125ms ease-in;
        padding: 9px;

        &:hover {
            background-color: #FF9900;
            height: 20px;
            border-radius: 2px;
        }
    }
}

.checkbox_unchecked {
    background-image: url('../../../assets/img/checkbox_unchecked.png');
}

.checkbox_checked {
    background-image: url('../../../assets/img/checkbox_checked.png');
}

.privacy_policy_text_container {
    @include size($w: 100%, $h: 100%);
    @include dFlex($jc: center, $ai: center);

    .privacy_policy_text {
        @include fontStyle($ff: 'Overpass', $fs: 20px, $fw: 400, $lh: 20px, $c: #FFFCF3);
        @include dFlex($jc: center, $ai: center);
        width: 100%;
        text-align: center;

        a {
            @include fontStyle($ff: 'Overpass', $fs: 20px, $fw: 400, $lh: 20px, $c: #FF9900);
            text-decoration: none;
            display: inline-block;
            width: 140px;
            transition: all 250ms ease;

            &:hover {
                transform: translateY(-1px) scale(1.05);
                transition: transform 250ms ease;
            }
        }
    }
}

.error {
    @include fontStyle($ff: 'Overpass', $fs: 20px, $fw: 400, $lh: 20px, $c: #E61C40);
    @include dFlex($jc: start, $ai: center);
    width: 100%;
    text-align: center;
    margin-top: 10px;
    opacity: 0;
    animation: fadeIn 250ms forwards;
}

.valid_container {
    position: absolute;
    top: 15px;
    right: 25px;
    height: 30px;
    width: 29px;
    background-size: cover;
    opacity: 0;
    animation: fadeIn 250ms forwards;
}

.error_container {
    position: absolute;
    top: 15px;
    right: 25px;
    height: 29px;
    width: 29.5px;
    background-size: cover;
    opacity: 0;
    animation: fadeIn 250ms forwards;
}

.error_img {
    background-image: url('../../../assets/img/error.png');
}

.valid_img {
    background-image: url('../../../assets/img/valid.png');
}

button {
    @include dFlex($jc: center, $ai: center);
    @include size($w: 330px, $h: 85px);
    @include fontStyle($ff: 'Overpass', $fs: 28px, $fw: 400, $lh: 32.6px, $c: #3b3b3b);
    background-color: #000000;
    border: 4px solid #3b3b3b;
    padding: 20px 60px 20px 60px;
    transition: all 125ms ease;
    cursor: pointer;

    &:hover {
        width: 380px;
        @include fontStyle($ff: 'Overpass', $fs: 28px, $fw: 700, $lh: 32.6px, $c: #3b3b3b);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}