@import '../../../styles.scss';

@media (max-width: 1640px) {
    .header {
        margin-left: 20px;
        margin-right: 10px;
    }
}

@media (max-width: 480px) {
    .header {
        height: 100px;

        .logo {
            height: 54px !important;
        }

        .language_menu_container {
            width: 130px;

            .language {
                width: 80px;

                p {
                    font-size: 20px;
                }
            }

            .burger_menu {
                height: 32px;
            }
        }
    }
}