@import '../../../styles.scss';

.bg_style {
    background-color: #FFFCF3;
}

.max_width {
    max-width: 1600px;
    margin: 0 auto;
}

p {
    @include fontStyle($ff: 'Syne', $fs: 24px, $fw: 600, $lh: 24px, $c: #000000);
}

.header {
    position: relative;
    height: 120px;
    @include dFlex($jc: space-between, $ai: center);

    >img {
        height: 38px;
        cursor: pointer;
    }
}

.logo {
    height: 80px !important;
}

.burger_menu {
    transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;
    opacity: 1;
    height: 50px;
    cursor: pointer;
}

.burger_menu.stage-1,
.burger_menu.stage-2,
.burger_menu.stage-4 {
    opacity: 0;
}

.burger_menu.active.stage-1,
.burger_menu.active.stage-2,
.burger_menu.active.stage-4 {
    opacity: 1;
}

.burger_menu.stage-3 {
    opacity: 0;
}

.burger_menu.active.stage-3 {
    opacity: 1;
}

.language_menu_container {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    width: 170px;

    >img {
        height: 38px;
    }
}

.language {
    display: flex;
    align-items: center;
    gap: 5px;
}

.language p:nth-child(1) {
    cursor: pointer;
    height: 26px;
    width: 38px;
    display: flex;
    align-items: center;
}

.language p:nth-child(2) {
    cursor: default;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.language p:nth-child(3) {
    cursor: pointer;
    height: 26px;
    width: 38px;
    display: flex;
    align-items: center;
}

.language p.selected {
    color: #FF9900;
    font-size: 26px;
    transition: all 0.3s ease-in-out;
}

.margin_right {
    margin-right: 9.5px;
}