@import '../../../styles.scss';

:host {
    display: block;
    height: 100vh;
}

.bg_style {
    background-color: #FFFCF3;
    height: 100%;
}

.max_width {
    position: relative;
    max-width: 1600px;
    margin: 0 auto;
    height: 100%;
}

.h1_container {
    @include position($pos: absolute, $top: 50%, $left: 50%, $bottom: 50px, $right: auto);
    @include dFlex($jc: start);
    transform: translate(-50%, -50%);
    flex-direction: column;
    height: 400px;
    animation: fadeIn 250ms ease-in-out forwards;

    h1 {
        @include fontStyle($ff: 'Syne', $fs: 158px, $fw: 800, $lh: 128px, $c: #000000);
        letter-spacing: -2.5px;
        cursor: default;
        transition: all 250ms ease-in-out;
    }

    .h1_line_n_name_container {
        @include dFlex($jc: center, $ai: center);
        @include size($w: 100%, $h: 90px);
        opacity: 0;
        animation: fadeIn 250ms ease-in-out forwards;

        .h1_line {
            @include size($w: 788px, $h: 3px);
            background-color: #000000;
            margin-top: 10px;
        }

        .name_container {
            @include dFlex($jc: center, $ai: center);
            position: relative;
            width: 360px;

            h2 {
                @include fontStyle($ff: 'Overpass', $fs: 55px, $fw: 700, $lh: unset, $c: #FF9900);
                letter-spacing: -1.5px;
                cursor: default;
                margin-top: 20px;
            }
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.email_container {
    @include position($pos: absolute, $top: auto, $left: 50px, $bottom: 50px, $right: auto);
    transform-origin: left bottom;
    transform: rotate(-90deg);

    a {
        @include fontStyle($ff: 'Overpass', $fs: 23px, $fw: 300, $lh: 23px, $c: #000000);
        text-decoration: none;
        cursor: pointer;
    }
}

.scroll_container {
    @include position($pos: absolute, $top: auto, $left: auto, $bottom: 50px, $right: 0px);
    @include size($w: 118px, $h: 232px);
    @include dFlex($jc: center);
    flex-direction: column;
    gap: 10px;

    .arrow_container {
        @include size($w: 116px, $h: 180px);
        @include dFlex($jc: center, $ai: end);
        position: relative;
        padding: 10px;
        overflow: hidden;

        img {
            opacity: 0;
            transition: opacity 0.3s ease-in;
            cursor: pointer;

            &:nth-child(3) {
                animation: arrowAnimation 2s ease-in-out infinite;
            }
        }
    }

    .scroll_text {
        @include size($w: 100%, $h: 40px);
        background-color: #FFFCF3;
        z-index: 5;
        text-align: center;

        span {
            @include fontStyle($ff: 'Overpass', $fs: 23px, $fw: 300, $lh: 23px, $c: #000000);
            letter-spacing: -1.5px;
            cursor: default;
        }
    }
}

@keyframes arrowAnimation {
    0% {
        opacity: 1;
        transform: translateY(-100%);
    }

    50% {
        opacity: 1;
        transform: translateY(70%);
    }

    100% {
        opacity: 0;
        transform: translateY(200%);
    }
}