<div class="bg_style">
    <div class="max_width">
        <div class="h1_container">
            <div class="box_size">
                <img class="nav_line_0" src="./assets/img/nav_line_0.png" alt="">
                <img class="nav_line_1" src="./assets/img/nav_line_1.png" alt="">
                <img class="nav_line_2" src="./assets/img/nav_line_2.png" alt="">
                <a href="#About_me">
                    <h1>About me</h1>
                </a>
            </div>
            <div class="box_size">
                <img class="nav_line_0" src="./assets/img/nav_line_0.png" alt="">
                <img class="nav_line_1" src="./assets/img/nav_line_1.png" alt="">
                <img class="nav_line_2" src="./assets/img/nav_line_2.png" alt="">
                <a href="">
                    <h1>My skills</h1>
                </a>
            </div>
            <div class="box_size">
                <img class="nav_line_0" src="./assets/img/nav_line_0.png" alt="">
                <img class="nav_line_1" src="./assets/img/nav_line_1.png" alt="">
                <img class="nav_line_2" src="./assets/img/nav_line_2.png" alt="">
                <a href="">
                    <h1>Portfolio</h1>
                </a>
            </div>
        </div>
        <div class="nav_footer_container">
            <div class="nav_footer_text">
                <span>Say Hi!</span>
            </div>
            <div class="mail_n_icons_container">
                <span>sergen.selcik&#64;hotmail.com</span>
                <div class="icons">
                    <a href="https://github.com/SergenSelcik" target="_blank">
                        <img src="./assets/img/github.png" alt="GitHub">
                    </a>
                    <a href="mailto:sergen.selcik@hotmail.com" target="_blank">
                        <img src="./assets/img/mail.png" alt="Email">
                    </a>
                    <a href="https://www.linkedin.com" target="_blank">
                        <img src="./assets/img/linkedin.png" alt="LinkedIn">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="nav_bottom_container">
        <img src="./assets/img/nav_menu_bottom.png" alt="">
    </div>
</div>
