@import '../../../styles.scss';

@media (max-width: 1600px) {
    .max_width {
        @include dFlex($jc: center, $ai: center);
        flex-direction: column;
    }

    .my_skills_container {
        @include dFlex($jc: center, $ai: center);
        width: 95%;
    }
}

@media (max-width: 1370px) {
    .my_skills {
        @include size($w: 1520px, $h: 600px);

        &::before {
            width: 650px;
        }

        &.german::before {
            width: 870px;
        }

        h1 {
            @include fontStyle($ff: 'Syne', $fs: 88px, $fw: 800, $lh: 88px, $c: #000000);

            &.german {
                white-space: nowrap;
            }
        }
    }
}

@media (max-width: 1235px) {
    .my_skills {
        @include size($w: 1520px, $h: 600px);

        &::before {
            width: 500px;
        }

        &.german::before {
            width: 670px;
        }

        h1 {
            @include fontStyle($ff: 'Syne', $fs: 68px, $fw: 800, $lh: 68px, $c: #000000);
        }
    }
}

@media (max-width: 1112px) {
    .my_skills {
        @include size($w: 1520px, $h: 700px);

        &::before {
            width: 500px;
        }

        &.german::before {
            width: 670px;
        }

        h1 {
            @include fontStyle($ff: 'Syne', $fs: 68px, $fw: 800, $lh: 68px, $c: #000000);
        }
    }
}

@media (max-width: 1020px) {
    .arrow_container {
        @include position($pos: relative, $top: 0, $left: 0, $bottom: auto, $right: auto);
        @include size($w: 100%, $h: 340px);

        .arrow_images {

            .arrow_short_start {
                height: 220px;
            }

            .arrow_long {
                height: 200px;
            }

            .arrow_short_end {
                height: 220px;
            }
        }
    }
}

@media (max-width: 955px) {
    .my_skills {
        @include size($w: 1520px, $h: 700px);

        &::before {
            width: 410px;
        }

        &.german::before {
            width: 570px;
        }

        h1 {
            @include fontStyle($ff: 'Syne', $fs: 58px, $fw: 800, $lh: 58px, $c: #000000);
        }
    }
}

@media (max-width: 818px) {
    .my_skills {
        @include size($w: 620px, $h: 850px);

        &::before {
            width: 410px;
        }

        &.german::before {
            width: 570px;
        }

        h1 {
            @include fontStyle($ff: 'Syne', $fs: 58px, $fw: 800, $lh: 58px, $c: #000000);
        }
    }

    .arrow_container {
        @include position($pos: relative, $top: 0, $left: 40px, $bottom: auto, $right: auto);
        @include size($w: 100%, $h: 340px);
    }
}

@media (max-width: 650px) {
    .my_skills {
        @include size($w: 620px, $h: 850px);

        &::before {
            width: 380px;
        }

        &.german::before {
            width: 520px;
        }

        h1 {
            @include fontStyle($ff: 'Syne', $fs: 54px, $fw: 800, $lh: 54px, $c: #000000);
        }
    }
}

@media (max-width: 580px) {
    .my_skills {
        @include size($w: 450px, $h: 820px);
        border: 2px solid black;

        &::before {
            width: 270px;
        }

        &.german::before {
            width: 380px;
        }

        h1 {
            @include fontStyle($ff: 'Syne', $fs: 40px, $fw: 800, $lh: 40px, $c: #000000);
        }
    }
}

@media (max-width: 500px) {
    .arrow_container {
        @include position($pos: relative, $top: 0, $left: -30px, $bottom: auto, $right: auto);
        @include size($w: 100%, $h: 340px);
    }
}

@media (max-width: 480px) {
    .my_skills {
        @include size($w: 450px, $h: 780px);
    }
}

@media (max-width: 440px) {
    .my_skills {
        @include size($w: 450px, $h: 600px);
    }
}

@media (max-width: 400px) {
    .my_skills {
        position: relative;

        &.german::before {
            width: 280px;
        }

        &.german h1 {
            @include fontStyle($ff: 'Syne', $fs: 30px, $fw: 800, $lh: 30px, $c: #000000);
        }
    }
}

@media (max-width: 390px) {
    .arrow_container {
        @include position($pos: relative, $top: 0, $left: -40px, $bottom: auto, $right: auto);
        @include size($w: 100%, $h: 240px);

        .arrow_images {

            .arrow_short_start {
                height: 180px;
            }

            .arrow_long {
                height: 160px;
            }

            .arrow_short_end {
                height: 180px;
            }
        }
    }
}