<div class="bg_style">
    <div class="max_width">
        <div class="content">
            <h1>Imprint</h1>
            Sergen Selcik <br>
            Kastanienallee 39 <br>
            42489 Wülfrath

            <h1>Contact</h1>
            Phone: +49 174 1698833 <br>
            E-Mail: Sergen.Selcik&#64;hotmail.com <br>
            <span>Source: <a href="https://www.e-recht24.de/impressum-generator.html"
                target="_blank">https://www.e-recht24.de/impressum-generator.html</a></span>

        </div>

    </div>
</div>