<div class="bg_style">
    <div class="max_width">
        <div class="content">
            <h1>{{ 'Imprint' | translate }}</h1>
            <p>Sergen Selcik<br />
                Kastanienallee 39<br />
                42489 W&uuml;lfrath</p>
            <h2>{{ 'Contact' | translate }}</h2>
            <p>{{ 'Phone' | translate }}: +49 (0) 174 1698833<br />
                E-Mail: <a href="mailto:contact@sergen-selcik.com">contact&#64;sergen-selcik.com</a></p>
            <p>{{ 'Source' | translate }}: <a href="https://www.e-recht24.de/impressum-generator.html"
                    target="_blank">https://www.e-recht24.de/impressum-generator.html</a>
            </p>
        </div>
    </div>
</div>