@import '../../../../styles.scss';

.project_container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.project {
    @include dFlex($ai: center);
    gap: 100px;
    transition: all ease-in-out 250ms;

    &:hover {
        .border {
            opacity: 1;
            animation: slideBorder 250ms ease forwards;
        }

        .project_img>img {
            filter: brightness(100%);
        }

        .project_content {
            opacity: 1;
            animation: slide 250ms forwards;
        }

        .arrow_img {
            animation: rotateScaleIn 500ms forwards;
        }
    }

    &:not(:hover) {
        .border {
            animation: slideBorderBack 250ms ease forwards;
        }

        .project_content {
            animation: slideBack 1000ms forwards;
        }

        .arrow_img {
            animation: rotateScaleOut 500ms forwards;
        }
    }
}

.project_img {
    min-width: 850px;
    height: 100%;
    position: relative;
    z-index: 10;

    >a {
        @include position($pos: absolute, $top: 0, $left: 0, $bottom: auto, $right: auto);
        background-color: transparent;
        border: unset;
        width: 820px;
        height: 450px;
    }


    >img {
        height: 450px;
        transition: filter 250ms ease;
        filter: brightness(80%);
        cursor: pointer;

    }

    .border {
        @include position($pos: absolute, $top: 0px, $left: 0px, $bottom: auto, $right: auto);
        @include size($w: 800px, $h: 450px);
        transition: opacity 250ms ease;
        border: 4px solid black;
        opacity: 0;
        z-index: 10;
        cursor: pointer;

        .arrow_img {
            position: absolute;
            height: 100px;
            right: -53px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 20;
        }
    }
}

.project_content {
    position: relative;
    z-index: 1;
    left: -830px;
    @include dFlex($jc: center, $ai: start);
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 600px;
    opacity: 0;
    transition: opacity 250ms ease;

    h1 {
        @include fontStyle($ff: 'Syne', $fs: 52px, $fw: 800, $lh: 52px, $c: #000000);
        cursor: default;
    }

    .technologies {
        @include fontStyle($ff: 'Overpass', $fs: 30px, $fw: 400, $lh: 34.6px, $c: #FF9900);
        cursor: default;
    }

    .description {
        @include fontStyle($ff: 'Overpass', $fs: 23px, $fw: 400, $lh: 27.2px, $c: #000000);
        cursor: default;
    }
}

a {
    @include dFlex($jc: center, $ai: center);
    @include size($w: 200px, $h: 85px);
    @include fontStyle($ff: 'Overpass', $fs: 28px, $fw: 400, $lh: 32.6px, $c: #000000);
    background-color: #FFFCF3;
    border: 4px solid black;
    padding: 20px 60px 20px 60px;
    transition: all 125ms ease;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        width: 250px;
        @include fontStyle($ff: 'Overpass', $fs: 28px, $fw: 700, $lh: 32.6px, $c: #000000);
    }

    &:active {
        background-color: #000000;
        color: #FFFCF3;

        a {
            color: white;
        }
    }
}

.swap_content {
    display: flex;
    flex-direction: row-reverse;

    .swap_content.project_img {
        order: 2;
    }

    .swap_content.project_content {
        order: 1;
    }

    .project_content {
        left: 830px;
    }

    .border {
        position: absolute;
        top: 0px;
        left: 0px;

        .arrow_img {
            position: absolute;
            height: 100px;
            left: -53px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 20;
        }
    }
}

.swap_content.project {
    &:hover {
        .arrow_img {
            animation: rotateScaleInSwitch 500ms forwards;
        }

        .border {
            animation: slideBorderSwapContent 250ms ease forwards;
        }
    }

    &:not(:hover) {
        .project_content {
            animation: slideBackSwapContent 750ms forwards;
        }

        .arrow_img {
            animation: rotateScaleOutSwitch 500ms forwards;
        }

        .border {
            animation: slideBorderBackSwapContent 250ms ease forwards;
        }
    }
}

@keyframes slide {
    100% {
        left: 0;
    }
}

@keyframes slideBack {
    0% {
        left: 0;
    }

    100% {
        left: -830px;
    }
}

@keyframes slideBackSwapContent {
    0% {
        left: 0;
    }

    100% {
        left: 830px;
    }
}

@keyframes rotateScaleIn {
    0% {
        transform: translateY(-50%) rotate(0turn) scale(1);
    }

    100% {
        transform: translateY(-50%) rotate(-0.35turn) scale(1.5);
    }
}

@keyframes rotateScaleOut {
    0% {
        transform: translateY(-50%) rotate(-0.35turn) scale(1.5);
    }

    100% {
        transform: translateY(-50%) rotate(0turn) scale(1);
    }
}

@keyframes rotateScaleInSwitch {
    0% {
        transform: translateY(-50%) rotate(0turn) scale(1);
    }

    100% {
        transform: translateY(-50%) rotate(0.35turn) scale(1.5);
    }
}

@keyframes rotateScaleOutSwitch {
    0% {
        transform: translateY(-50%) rotate(0.35turn) scale(1.5);
    }

    100% {
        transform: translateY(-50%) rotate(0turn) scale(1);
    }
}

@keyframes slideBorder {
    from {
        top: 0;
        left: 0;
    }

    to {
        top: 20px;
        left: 20px;
    }
}

@keyframes slideBorderBack {
    from {
        top: 20px;
        left: 20px;
    }

    to {
        top: 0;
        left: 0;
    }
}

@keyframes slideBorderSwapContent {
    from {
        top: 0;
        left: 0;
    }

    to {
        top: 20px;
        left: -20px;
    }
}

@keyframes slideBorderBackSwapContent {
    from {
        top: 20px;
        left: -20px;
    }

    to {
        top: 0;
        left: 0;
    }
}