@import '../../../../styles.scss';

@media (max-width: 1650px) {
    .project_img {
        min-width: 750px;
        margin-left: 20px;
        height: 100%;

        >a {
            width: 750px;
            height: 400px;
        }

        >img {
            height: 400px;
        }

        .border {
            @include size($w: 710px, $h: 400px);

            .arrow_img {
                height: 80px;
                right: -43px;
            }
        }
    }

    .project_content {
        height: 520px;
    }

    .swap_content {
        .project_content {
            margin-left: 20px;
        }

        .border {
            .arrow_img {
                height: 80px;
                left: -43px;
            }
        }
    }
}

@media (max-width: 1410px) {
    .project {
        gap: 50px;

        &:not(:hover) {
            .project_content {
                animation: slideBack 1000ms forwards;
            }
        }
    }

    .project_img {
        min-width: 700px;

        >a {
            width: 700px;
            height: 350px;
        }

        >img {
            height: 350px;
        }

        .border {
            @include size($w: 625px, $h: 350px);

            .arrow_img {
                height: 65px;
                right: -35px;
            }
        }
    }

    .project_content {
        left: -730px;
        height: 470px;

        h1 {
            @include fontStyle($ff: 'Syne', $fs: 42px, $fw: 800, $lh: 42px, $c: #000000);
        }

        .technologies {
            @include fontStyle($ff: 'Overpass', $fs: 20px, $fw: 400, $lh: 24.6px, $c: #FF9900);
        }

        .description {
            @include fontStyle($ff: 'Overpass', $fs: 18px, $fw: 400, $lh: 22.2px, $c: #000000);
        }
    }

    a {
        @include size($w: 170px, $h: 65px);
        @include fontStyle($ff: 'Overpass', $fs: 22px, $fw: 400, $lh: 24.6px, $c: #000000);
        border: 3px solid black;

        &:hover {
            width: 210px;
            @include fontStyle($ff: 'Overpass', $fs: 22px, $fw: 700, $lh: 24.6px, $c: #000000);
        }
    }

    .swap_content {
        .project_content {
            left: 730px;
            margin-left: 20px;
        }

        .border {
            .arrow_img {
                height: 65px;
                left: -35px;
            }
        }
    }

    .swap_content.project {
        &:not(:hover) {
            .project_content {
                animation: slideBackSwapContent 750ms forwards;
            }
        }
    }

    @keyframes slideBack {
        0% {
            left: 0;
        }

        100% {
            left: -730px;
        }
    }

    @keyframes slideBackSwapContent {
        0% {
            left: 0;
        }

        100% {
            left: 730px;
        }
    }
}

@media (max-width: 1210px) {
    .project {
        gap: 40px;
    }

    .project_img {
        min-width: 600px;

        >a {
            width: 600px;
            height: 300px;
        }

        >img {
            height: 300px;
        }

        .border {
            @include size($w: 535px, $h: 300px);

            .arrow_img {
                height: 55px;
                right: -30px;
            }
        }
    }

    .project_content {
        left: -630px;
        height: 400px;

        h1 {
            @include fontStyle($ff: 'Syne', $fs: 38px, $fw: 800, $lh: 38px, $c: #000000);
        }

        .technologies {
            @include fontStyle($ff: 'Overpass', $fs: 18px, $fw: 400, $lh: 22.6px, $c: #FF9900);
        }

        .description {
            @include fontStyle($ff: 'Overpass', $fs: 16px, $fw: 400, $lh: 20.2px, $c: #000000);
        }
    }

    a {
        @include size($w: 150px, $h: 55px);
        @include fontStyle($ff: 'Overpass', $fs: 20px, $fw: 400, $lh: 22.6px, $c: #000000);
        border: 3px solid black;

        &:hover {
            width: 190px;
            @include fontStyle($ff: 'Overpass', $fs: 20px, $fw: 700, $lh: 22.6px, $c: #000000);
        }
    }

    .swap_content {
        .project_content {
            left: 630px;
            margin-left: 20px;
        }

        .border {
            .arrow_img {
                height: 55px;
                left: -30px;
            }
        }
    }

    @keyframes slideBack {
        0% {
            left: 0;
        }

        100% {
            left: -630px;
        }
    }

    @keyframes slideBackSwapContent {
        0% {
            left: 0;
        }

        100% {
            left: 630px;
        }
    }
}

@media (max-width: 1020px) {
    .project_container {
        gap: 100px;
    }

    .project {
        flex-direction: column;
        gap: 40px;
    }

    .project_img {
        min-width: 500px;
        margin-left: 0px;

        >a {
            width: 534px;
            height: 300px;
        }

        >img {
            height: 300px;
            filter: brightness(100%);
        }

        .border {
            display: none;
        }
    }

    .project_content {
        position: inherit;
        z-index: 1;
        @include dFlex($jc: center, $ai: center);
        width: 500px;
        height: 250px;
        opacity: 1;
        margin-left: 0px;

        h1 {
            @include fontStyle($ff: 'Syne', $fs: 38px, $fw: 800, $lh: 38px, $c: #000000);
        }

        .technologies {
            @include fontStyle($ff: 'Overpass', $fs: 18px, $fw: 400, $lh: 22.6px, $c: #FF9900);
        }

        .description {
            @include fontStyle($ff: 'Overpass', $fs: 16px, $fw: 400, $lh: 20.2px, $c: #000000);
            text-align: center;
        }
    }

    a {
        @include size($w: 150px, $h: 55px);
        @include fontStyle($ff: 'Overpass', $fs: 20px, $fw: 400, $lh: 22.6px, $c: #000000);

        &:hover {
            width: 190px;
            @include fontStyle($ff: 'Overpass', $fs: 20px, $fw: 700, $lh: 22.6px, $c: #000000);
        }
    }

    .swap_content {
        .project_content {
            margin-left: 0px;
            text-align: center;
            height: 300px;
        }
    }
}

@media (max-width: 580px) {
    .project_img {
        min-width: 350px;

        >a {
            width: 355px;
            height: 200px;
        }

        >img {
            height: 200px;
        }
    }

    .project_content {
        gap: 20px;
        width: 350px;

        h1 {
            @include fontStyle($ff: 'Syne', $fs: 38px, $fw: 800, $lh: 38px, $c: #000000);
        }

        .technologies {
            @include fontStyle($ff: 'Overpass', $fs: 18px, $fw: 400, $lh: 22.6px, $c: #FF9900);
        }

        .description {
            @include fontStyle($ff: 'Overpass', $fs: 16px, $fw: 400, $lh: 20.2px, $c: #000000);
        }
    }

    a {
        @include size($w: 150px, $h: 55px);
        @include fontStyle($ff: 'Overpass', $fs: 20px, $fw: 400, $lh: 22.6px, $c: #000000);

        &:hover {
            width: 170px;
            @include fontStyle($ff: 'Overpass', $fs: 20px, $fw: 700, $lh: 22.6px, $c: #000000);
        }
    }

    .swap_content {
        .project_content {
            height: 330px;
        }
    }
}

@media (max-width: 390px) {
    .project {
        gap: 30px;
    }

    .project_img {
        min-width: 255px;

        >a {
            width: 265px;
            height: 150px;
        }

        >img {
            height: 150px;
        }
    }

    .project_content {
        width: 280px;

        h1 {
            @include fontStyle($ff: 'Syne', $fs: 30px, $fw: 800, $lh: 30px, $c: #000000);
        }

        .technologies {
            @include fontStyle($ff: 'Overpass', $fs: 16px, $fw: 400, $lh: 20.6px, $c: #FF9900);
        }

        .description {
            @include fontStyle($ff: 'Overpass', $fs: 16px, $fw: 400, $lh: 20.2px, $c: #000000);
        }
    }

    a {
        @include size($w: 140px, $h: 48px);
        @include fontStyle($ff: 'Overpass', $fs: 16px, $fw: 400, $lh: 20.6px, $c: #000000);

        &:hover {
            @include fontStyle($ff: 'Overpass', $fs: 16px, $fw: 700, $lh: 20.6px, $c: #000000);
        }
    }
}