<div class="infinite_bg_reach">
<div class="bg_style" [class.margin_right]="isImprintRoute">
    <div class="max_width">
        <div class="footer">
            <div class="footer_logo">
                <img (click)="navigateToHome(); scrollToTop()" src="./assets/img/logo_white.png" alt="my logo in white">
                © Sergen Selcik 2024
            </div>
            <div class="footer_links">
                <div class="icons">
                    <a href="https://github.com/SergenSelcik" target="_blank">
                        <img src="./assets/img/github.png" alt="github icon">
                    </a>
                    <a href="mailto:contact@sergen-selcik.com" target="_blank">
                        <img src="./assets/img/mail.png" alt="email icon">
                    </a>
                    <a href="https://www.linkedin.com" target="_blank">
                        <img src="./assets/img/linkedin.png" alt="linkedin icon">
                    </a>
                </div>
                <a routerLink="/imprint" class="legal_notice">
                    Legal notice
                </a>
            </div>
        </div>
    </div>
</div>
</div>